DATABASE_URL="prisma+postgres://"
JWT_SECRET="super-secret"
JWT_EXPIRATION="60m"
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="smtp-user"
SMTP_PASS="smtp-password"
SMTP_FROM="Eventownik <noreply@example.com>"
PORT=3000
APP_DOMAIN="http://localhost:3000"