# App
APP_DOMAIN="http://localhost:3000"
PORT=3000

# Database
DATABASE_URL="postgres://"

# Security
CORS_ORIGINS="*"
HCAPTCHA_SECRET="super-secret-hcaptcha-key"
JWT_SECRET="super-secret"
JWT_EXPIRES_IN="60m"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# Email
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="smtp-user"
SMTP_PASS="smtp-password"
SMTP_FROM="Eventownik <noreply@example.com>"